body{
    width: 80%;
    margin: 20px auto;
    border: 20px solid gray;
    padding: 20px;
    min-width: 500px;
    max-width: 700px;
}
.date{
    color:lightskyblue;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
}
.post{
    margin-bottom: 20px;
}
.quote{
    border-left: 5px solid gray;
    padding-left: 5px solid gray;


  
}
h1{
   
   font-weight: bold;
   color: #2c3e2c;
}
hr{
    border: 0;
    height: 0;
     border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}