.Circle{
    height: 200px;
    width: 200px;
    background-color: saddlebrown;
    border-radius: 40%;
    position: absolute;
    top : 500px;
    left:  500px;
    animation: Move 10s infinite;
    animation-delay: 2s;
}
@keyframes Move{
    0%{
        top: 200px;
    }
    100%{
        top:700px;
    }
}