*{
    margin:0px;
    padding: 0px;
}

.hero{
    height: 100vh;
    width: 100%;
    background-image: url('sky.jpg');
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
}

.highway{
    height: 200px;
    width:500%;
    background-image: url('road.jpg');
    position: absolute;
    bottom: 0px;
    background-repeat: repeat-x;
    animation: highway 3s linear infinite;
}

@keyframes highway{
    100%{
        transform: translateX(-3400px);
    }
}

.city{
    height: 250px;
    width: 500%;
    background-image: url('city.png');
    position: absolute;
    bottom: 200px;
    animation: city 20s linear infinite;
}

@keyframes city{
    100%{
        transform: translateX(-1400px);
    }
}

.car{
     width: 400px;
     position: absolute;
     left:30%;
     bottom: 80px;
     z-index:2;
}

.car img{
    width: 100%;
    animation: car 1s linear infinite;
}

@keyframes car{
    0%{
        transform: translateY(-1px);
    }
    100%{
        transform: translateY(-1px);
    }
    50%{
        transform: translateY(1px);
    }
   
}

.wheel{
    position: absolute;
    left:20%;
    bottom: 178px;
    z-index: 3;
}

.wheel img{
    width: 68px;
    height: 68px;
    animation: wheel 0.3s linear infinite;
}

.back-wheel{
    position: absolute;
    left:210px;
    
}


.front-wheel{
    position: absolute;
    left:405px;
    top: 5px;
}

@keyframes wheel{
    100%{
        transform: rotate(360deg);
    }
}